extends layout

block content
  nav.header-navbar 
    h1= title
    div.edit-settings
      a(href="/catalog/newproduct") Insert new product 

  if all_categories.length
    nav.categories-navbar 
      div 
        h2 Categories
      ul.categories-list 
        for category in all_categories 
          li
            a(href=category.url) #{category.name} 

  if all_products.length 
    div.products-container
      each product in all_products 
        div.product-card
          img(src=product.image)
          a(href=product.url) #{product.title} 
          p $ #{product.price}
          button.blue-btn Add to Cart  
  else
    p #[strong Products not found ]