extends layout

block content
  h1= title
  h2 Product: #{product.title}
  hr
  a(href="/") Home 

  div.product_detail-card
    img(src=product.image)
    p #{product.category.name}
    p #{product.description}
    p $ #{product.price}
    p Quantity in stock: #{product.quantity}
    hr
    a(href=`${product.url}/update`) Update  product
    br
    a(href=`${product.url}/delete`) Delete  product

